* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    overflow-x: hidden;
}

.header {
    margin-top: 50px;
    position: relative;
}

.header .navbar {
    display: flex;
    padding-bottom: 36px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    justify-content: space-between;

}



.header .navbar .logo a {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    text-decoration: none;
    color: #0D1321;

}

.header .navbar .downloadButton a button {
    background-color: white;
    color: #0D1321;
    width: 244px;
    height: 57px;
    border-radius: 8px;
    font-family: "Azeret Mono", monospace;
    font-weight: bold;
    padding: 17px 24px;
}

/* navbar end */
 /* header contant start */
 .header .headerContant{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        position: relative;
        margin-bottom: 154px;
 }

.header .headerContant .bgImg {
    pointer-events: none;
    position: absolute;
    width: 1440px;
    height: 600px;
    z-index: -1;
}

.header .headerContant .groupImg{
    display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 32px;
        padding-top: 26px;
}

.header .headerContant h1{
    text-align: center;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    font-size: 48px ;
    padding-bottom: 24px;
}

.header .headerContant .headerDescription{
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-left: 294px;
    padding-right: 294px;
    color: #0D1321;
    padding-bottom: 32px;
}

.header .headerContant .ContactWithMe {
    padding: 21px 24px;
    background-color: #0D1321;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 244px;
    height: 65px;
    font-family: "Azeret Mono", monospace;
    border-radius: 8px;
    margin-bottom: 44px;

}

.header .headerContant .ContactWithMe:hover {
    background-color: #02dd26b2;
    color: black;
}
/* header contant end */

/* main contant start */
    






/* main contant end */