* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    overflow-x: hidden;
}

.header {
    margin-top: 50px;

}

.header .navbar {
    display: flex;
    padding-bottom: 36px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    justify-content: space-between;

}



.header .navbar .logo a {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    text-decoration: none;
    color: #0D1321;

}

.header .navbar .downloadButton a button {
    background-color: white;
    color: #0D1321;
    width: 244px;
    height: 57px;
    border-radius: 8px;
    font-family: "Azeret Mono", monospace;
    font-weight: bold;
    padding: 17px 24px;
}

/* navbar end */

 

.header .headerContant .bgImg {
    pointer-events: none;
    position: absolute;
    width: 1440px;
    height: 600px;
    z-index: -1;
}

.header .headerContant .groupImg{
    display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 32px;
        padding-top: 26px;
}

.header .headerContant h1{
    text-align: center;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    font-size: 48px ;
    padding-bottom: 24px;
}